/* //////////////////////////////////////////////////
TAILWIND CSS
////////////////////////////////////////////////// */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* //////////////////////////////////////////////////
SCROLLBAR
////////////////////////////////////////////////// */
::-webkit-scrollbar {
    display: none;
}

/* //////////////////////////////////////////////////
BODY
////////////////////////////////////////////////// */
body {
    background-color: #444444;
}

/* //////////////////////////////////////////////////
CLIP PATH
////////////////////////////////////////////////// */
@layer utilities {
    .card-clip-path {
        clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    }
}